<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.mapper.BookInfoMapper">
    <select id="findBookById" resultType="com.project.dao.pojo.BookInfo">
        SELECT * FROM bookinfo
        WHERE ID = #{id}
    </select>
</mapper>